# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
env/
.venv/

# ==============================
# Environment Variables 
# ==============================
.env

# ==============================
# Logs & temp files
# ==============================
*.log


# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Build / Distribution
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Cache
# ==============================
.cache/

# ==============================
# LangChain / RAG
# ==============================

vectorstore/
faiss_index/
*.faiss
*.pkl
